@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
  --cor-1: #11151C;
  --cor-2: #212D40;
  --cor-3: #364156;
  --cor-4: #7D4E57;
  --cor-5: #D66853;
  --cor-6: #EDF2F4;
  --cor-7: #acb3ba;

  --sombra-cor: rgba(0, 0, 0, 0.500);

  --borda-1: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Kdam Thmor Pro', sans-serif;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  text-align: center;

  background-color: var(--cor-1);
}

/***************************/
/*         HEADER          */
/***************************/

.App-header {
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

  width: 100%;
  height: 70px;

  position: fixed;
  top: 0;

  background-color: var(--cor-1);
  color: var(--cor-6);

  box-shadow: 0px 0px 5px 0px var(--sombra-cor);
}

.App-header > svg {
  font-size: 40px;
}

.App-header > .header-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 100%;
}

.App-header > .header-texts > h1 {
  font-size: 30px;
  font-weight: bold;

  margin-bottom: -5px;
}

/***************************/
/*          BODY           */
/***************************/

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: fit-content;
  min-height: 100px;

  background-color: transparent;
}

.App-body > .search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: fit-content;
}

.App-body > .search-input > input {
  width: 100%;
  height: fit-content;
  max-width: 420px;

  padding: 5px;
  margin-bottom: 10px;

  font-size: 1.3em;

  border: none;
  outline: none;

  text-align: center;

  border: none;
  border-radius: var(--borda-1);

  background-color: var(--cor-2);
  color: var(--cor-5);

  box-shadow: 0px 0px 5px var(--sombra-cor);
}

.App-body > .search-input > input::placeholder {
  color: var(--cor-7);
}


.App-body > .sort-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  width: 150px;

  padding: 5px;
  margin-bottom: 25px;
  margin-top: -10px;

  background-color: var(--cor-3);

  border-radius: var(--borda-1);
}

.App-body > .sort-select > select {
  z-index: 3;
  position: absolute;

  outline: none;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 150px;
  height: 45px;

  padding-left: 12px;

  background-color: transparent;

  border: none;

  color: var(--cor-6);

  font-size: 1em;
}

.App-body > .sort-select > select > option {
  color: var(--cor-2);
}

.App-body > .sort-select > svg {
  font-size: 1.3em;
  color: var(--cor-6);
  fill: var(--cor-6);

  margin-right: -100px;
}

/***************************/
/*         TRIGGER         */
/***************************/

.App > #shop-cart {
  display: none;
}

.App > #shop-cart:checked ~ .App-modal-cart {
  top: 0;
}

/***************************/
/*         FOOTER          */
/***************************/

.App-footer {
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  width: 100%;
  height: 60px;

  position: fixed;
  bottom: 0;

  background-color: var(--cor-1);
  color: var(--cor-6);

  box-shadow: 0px 0px 5px 0px var(--sombra-cor);

  transition: all 0.3s ease-in-out;
}

.App-footer:hover {
  height: 90px;
}

.App-footer:hover .footer-cart  {
  font-size: 75px;
}

.App-footer > .footer-cart {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  
  font-size: 40px;

  transition: all 0.3s ease-in-out;
}

.App-footer > .footer-cart > label {
  width: 100%;
  height: 100%;
}

/***************************/
/*          MODAL          */
/***************************/

.App-modal-cart {
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 100vh;

  width: 100%;
  height: 100%;

  background-color: var(--cor-1);

  transition: all 0.3s ease-in-out;
}